@tailwind base; /* Preflight will be injected here */

@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold mb-8;
    }

    h2 {
        @apply text-xl font-bold mb-6;
    }

    .h3 {
        @apply text-lg font-bold mb-6;
    }

    p {
        @apply mb-7
    }
    input {
        &:focus {
            outline: none;
        }
    }
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.6;
    color: #6d6d6d;
    font-size: 14px;
}

// Variables
@import 'variables';

html, body {
    background-color: #f7f8fb;
}

.nav__item {
    @apply mr-5 flex items-center;
}

.nav__link {
    @apply  text-gray-500 transition-all delay-75 duration-200 ease-in-out;
    &:hover {
        @apply text-black;
    }
}
.nav__link.router-link-exact-active {
    @apply text-black;
}

.emails-table-column {
    @apply py-4 pr-4;
    &:first-child {
        @apply pl-4;
        //padding-right:0;
    }
}

.main-content {

}

.email-status {
    @apply rounded-lg bg-gray-200 mr-2 px-4 py-1 inline-block;
    min-width: 5rem;
}
.default-status {
    @apply bg-gray-100 text-gray-700;
}

.success-status {
    @apply bg-green-100 text-green-700;
}

.failed-status {
    @apply bg-red-100 text-red-700;
}

.paginator {
    @apply flex justify-end items-center ml-4;
}
.page-link-container {
    &:first-child .page-link {
        @apply rounded-l-lg;
    }
    &:last-child .page-link {
        @apply rounded-r-lg;
    }
}
.page-link {
    @apply border py-4 px-6;
    &:hover:enabled {
        @apply bg-gray-200;
    }
    &:disabled {
        cursor: not-allowed;
    }
}
