@tailwind base; /* Preflight will be injected here */

@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold mb-8 text-black;
    }

    h2 {
        @apply text-2xl font-bold mb-6 text-black;
    }

    .h3 {
        @apply text-2xl font-bold mb-6 text-black;
    }

    p {
        @apply mb-7
    }
    input {
        &:focus {
            outline: none;
        }
    }
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import '~nprogress/nprogress.css';

body {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.6;
    color: #6d6d6d;
    font-size: 14px;
}

// Variables
@import 'variables';

html, body {
    background-color: #f7f8fb;
}

.nav__item {
    @apply mr-5 flex items-center;
}

.nav__link {
    @apply  text-gray-500 transition-all delay-75 duration-200 ease-in-out;
    &:hover {
        @apply text-black;
    }
}
.nav__link.router-link-exact-active {
    @apply text-black;
}

.emails-table-column {
    @apply py-4 pr-4;
    &:first-child {
        @apply pl-4;
    }
}

.email-status {
    @apply rounded bg-gray-200 mr-2 px-4 py-1 inline-block uppercase font-bold text-xs;
}
.default-status {
    @apply bg-gray-100 text-gray-700;
}

.success-status {
    @apply bg-green-100 text-green-700;
}

.failed-status {
    @apply bg-red-100 text-red-700;
}

.paginator {
}
.page-link-container {
    &:first-child .page-link {
        @apply rounded-l-lg;
    }
    &:last-child .page-link {
        @apply rounded-r-lg;
    }
}
.page-link {
    @apply border py-4 px-6;
    &:hover:enabled {
        @apply bg-gray-200;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.gravatar {
    background-image: url("https://i2.wp.com/app.mailersend.com/images/user/avatar.png?ssl=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.08);
}

.tab-header {
    @apply cursor-pointer -mb-px text-center relative z-10;
    top: 0;
}

//timeline
.timeline {
    margin: 0 auto;
    padding: 2em 0 3em;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.timeline-step {
    text-align: center;
    position: relative;
    left: -20%;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &:before,
    &:after {
        content: "";
        height: 100%;
        background-color: #f1f1f1;
        position: absolute;
        z-index: 1;
        width: 1%;
        left: 49.5%;
    }

    &:last-child:before,
    &:last-child:after {
        display: none;
    }
}

.timeline-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #d8d8d8;
    border-radius: 50%;
    padding: 0.5em;
    max-width: 100%;
    z-index: 10;
    position: relative;
}
.timeline-step-time {
    position: absolute;
    left: 20%;
}
.timeline-step-label {
    position: absolute;
    left: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .25s ease-out;
}
